
<img class="background-img" src="http://theagoraborealis.com/wp-content/uploads/2014/08/aurora-borealis-header.jpg" alt="" style="width:100%;height:100%;">




<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  

 