

<h2> Local Artisan Marketplace</h2>
<p> Our staff at the Agora Borealis strives to bring Shreveport and the rest of the Tri-State area quality, handmade, local art and goods. We believe that we can enrich the community by bringing it it’s very first Local Artisan Marketplace.
Think of it as an art gallery combined with a fine furniture store and mix in some unique handmade products like jewelry, soaps, lighting fixtures, and even food. The products we provide are made locally, by hand, and a majority of them from re-used or recycled materials.</p>

<h2>Environmentally Friendly</h2>

<p> One of our strongest passions is to be environmentally friendly, as well as being economically responsible. Everything we do keeps both of these goals in mind. From using energy efficient appliances and alternative sources of power to providing you with products made in an environmentally efficient way, we relish in the thought of making this work with the smallest carbon footprint possible.</p>

<h2>Local Jobs</h2>
<p> We also believe that it is our responsibility to stimulate the local economy and our national economy by bringing the area its local art and hiring local contractors and vendors for our business needs. This involves a diligent and active pursuit on our part to only buy American made products for our use and for the products we provide.

<p>Our love for the Arts drives us to bring our community closer together through fellowship in creativity. Art is a powerful tool for self-expression, but also the expression of a group of people. Art improves our lives in many ways and we want to help improve the lives around us. In order to bring people together in this way, we plan on hiring talented and professional instructors of various types of media to teach classes that people of all walks of life can be involved in.
Better The Community
Overall, our main goal is to bring Art and Culture to the area for the better of the area. We hope that you will come see us and support the local arts!</p>

<% if user_signed_in? %>
          # do something
     <% else %>
       <p>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  

 